.fs-30{
  font-size: 30px;
}

.mt-36{
  margin-top: 36px;
}

.ml-5{
  margin-left: 5px;
}

.mt-9{
  margin-top: 9px;
}

.fs-btns{
  font-size: 18px;
}

.mt-28{
  margin-top: 28px;
}

.mt-10{
  margin-top: 10px;
}

.mb-36{
  margin-bottom: 36px;
  margin: 20px;
}

.pt-31{
  padding-top: 31px;
}

.pt-20{
  padding-top: 20px;
}

.pt-8{
  padding-top: 8px;
}

.mt-25{
  margin-top: 25px;
}
