.fs-30{
  font-size: 30px;
}

.mt-36{
  margin-top: 36px;
}

.ml-5{
  margin-left: 5px;
}

.mt-9{
  margin-top: 9px;
}

.fs-btns{
  font-size: 18px;
}

.mt-28{
  margin-top: 28px;
}

.mt-10{
  margin-top: 10px;
}
