.logo-back-part{
  min-height: 65px;
}

.logo{
  font-size: 30px;
  color: white;
  margin-top: 10px;
}

.back-col-project-pro{
  background-color: rgb(65, 87, 240);
}

.i-fa-bars{
  font-size: 25px;
  margin-top: 20px;
  color: white;
}

.i-fa-bars:hover{
  color: rgb(32, 34, 45);
}

.back-col-logo-part{
  background-color:  #1b74c1;
  min-height: 65px;
}

.on-i-message-one{
  display: inline-block;
  height: 14px;
  width: 10px;
  background-color: green;
  font-size: 10px;
  text-align: center;
  border-radius: 4px;
  color: white;
}

.on-i-message-two{
  display: inline-block;
  height: 14px;
  width: 10px;
  background-color: orange;
  font-size: 10px;
  text-align: center;
  border-radius: 4px;
  color: white;
}

.on-i-message-three{
  display: inline-block;
  height: 14px;
  width: 10px;
  background-color: red;
  font-size: 10px;
  text-align: center;
  border-radius: 4px;
  color: white;
}

.ava-logo-part{
  height: 40px;
  width: 40px;
}

.i-fa-envelope-o , .i-fa-bell-o , .i-fa-flag-o{
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.i-fa-envelope-o:hover , .i-fa-bell-o:hover , .i-fa-flag-o:hover{
  color: rgb(32, 34, 45);
}

.main{
   background-color: #e6e6e6;
}

p.name-ava{
  color: white;
  display: inline-block;
  font-size: 17px;
  margin-top: 20px;
}

.functions{
  background-color: rgb(38, 43, 43);
}

.ava-functions{
  margin-top: 40px;
  height: 55px;
  width: 55px;
}

.name-ava-functions{
  font-size: 18px;
  color: white;
  margin-top: 40px;
  display: inline-block;
}

.i-fa-circle{
  margin-top: 25px;
  color: green;
}

.online{
  color: white;
  font-size: 10px;
}

.input-functions{
  margin-top: 40px;
  margin-bottom: 40px;
}

.forn-input-color-func{
  background-color: rgb(65, 65, 75);
  border-color: rgb(65, 65, 75);
  color: white;
}

.nav-func{
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(87, 90, 115);
  font-size: 17px;
  cursor: default;
}

.nav-func:hover{
  color: white;
  background-color: rgb(28,28,28)
}

.caption-proj-name{
  color: rgb(167, 171, 169);
}

.back-borden-box-main-page{
  min-height: 120px;
  border: 1px solid #00a1ff;
  background-color: white;
  border-radius: 10px;
}

.btn-export-to-CSV{
  color: #fff;
  background-color: #2b2f33;
  border-color: #2b2f33;
}

.btn-export-to-CSV:hover{
  color: #fff;
  background-color: #2b2f33;
  border-color: #2b2f33;
}

.btn-create-new{
  border-radius: 6px !important;
  margin-right: 4px;
}

.btn-toggle-columns{
  margin-right: 3px;
  border-radius: 0 !important;
}

.btn-export-to-PDF{
  border-radius: 3px 3px !important;
}

.btn-export-to-CSV{
  border-radius: 3px 3px !important;
}

.btn-export-to{
  margin-left: 3px !important;
  border-radius: 0 !important;
}

.secound-box-main-page{
  border: 1px solid #00a1ff;
  min-height: 430px;
  margin-top: 100px;
  border-radius: 10px;
  background-color: white;
}

.top-row-secound-box-main-page{
  border-radius: 7px 7px 0 0;
  height: 50px;
}

.role-records{
  font-size: 23px;
  margin-top: 10px;
}

.btn-1-10{
  background-color: white;
  border: 1px solid #b9b9b9;
  margin-top: 25px;
}

.records-per-page{
  margin-top: 30px;/*aaaaaaaaaaaaaaaaaaaaaaaaa*/
  font-size: 16px;
  vertical-align: bottom;
}

.table-main{
  margin-top: 30px;
}

.btn-table{
  display: block;
  width: 45px;
  height: 40px;
}

.btn-table-img{
  width: 25px;
  height: 25px;
}

.table-first-td{
  width: 120px;
}

.btn-prev-and-next{
  border: 1px solid rgb(193, 193, 193);
  width: 220px;
}

.btn-previous-page{
  height: 30px;
  width: 100px;
  border: none;
  color: rgb(121, 119, 119);
}

.btn-next-page{
  height: 30px;
  width: 80px;
  border: none;
  color: rgb(121, 119, 119);
}

.numbers-pages{
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid grey;
  padding-bottom: 5px;
  padding-top: 4px;
  text-align: center;
  color: white;
  border: none;
}

.settings{
  width: 60px;
  height: 45px;
  background-color: white;
  margin-left: 60px;
  border-radius: 10px 0 0 10px;
  position: fixed;
  right: 0;
}

.i-fa-cog{
  font-size: 30px;
  margin-top: 7px;
  color: blue;
}

.i-fa-cog:hover{
  color: black;
}
